* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
             /* NAV SECTION */
nav {
    background-color: white;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
}
.container {
    width: 1200px;
   margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.nav-logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.fa-solid {
    font-size: 32px;
}
.main-section {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    gap: 100px 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}
.main-section-img {
    width: 600px;
    height: 600px;
}
.main-section-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.off {
    background-color: rgb(13, 85, 0);
    align-self: flex-start;
    padding: 8px 8px;
    color: white;
    border-radius: 4px;
    font-size: 26px;
    font-weight: 300;
}
.enjoy {
    font-size: 62px;
}
.detail {
    font-size: 22px;
}
.explor-btn{
    padding: 15px 40px;
    border: none;
    background-color: rgb(0, 190, 203);
    align-self: flex-start;
    border-radius: 3px;
    color: white;
    font-size: 22px;
}
button {
    transition: 0.3s ease-in-out;
}
button:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

        /* FEATURE SECTION */
.features {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 10px; 
}
.feature {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.features-img img {
    width: 80px;
    margin-left: 20px;
   
}
.content-features {
    padding: 20px;
    width: 100%;
}
.content-features p {
    margin-top: 12px;
}
.all-box {
    transition: 0.3s ease-in-out;
}
.all-box:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
}
.devider {
    border: solid 1px black;
    margin: 20px 0;
}

.tag {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
}
.explore {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

         /* FOOD GRID CONTAINER  */
.foods img {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
}
.grid {
    margin-top: 50px;
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}
.foods {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}
.foods:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
   
}
.grid-container {
    justify-content: center;
    align-items: center;
    display: flex;
    
}

        /* FOOTER SECTION */
 footer {
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
 }
.footer-container {
    display: flex;
    margin-top: 80px;
    padding: 30px;
    justify-content: space-between;
}
.footer-logo img {
    width: 200px;
    border-radius: 50%;
}
.footer-content h3{
    padding: 20px ;
    font-size: 25px;
    
}
.footer-content pre{
    padding: 0 20px;
    font-size: 20px;
}
.links h3 {
    padding: 20px;
    font-size: 25px;
}
.fa-brands {
    font-size: 30px;
    padding: 10px;
}
